
.pagination {
  position: fixed;
  z-index: 1;
  left: 50px;
  bottom: 30px;
}

.pagination__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;

  &--isActive {
    background-color: rebeccapurple;
  }
}
