<!DOCTYPE html>
<html lang="en">

<head>
  @@include('./../includes/meta.html')
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <h1>BEST FULLPAGE</h1>
  </header>
  <nav class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a class="pagination__link pagination__link--isActive" href="#"></a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#"></a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#"></a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#"></a>
      </li>
    </ul>
  </nav>

  <div class="fullpage">
    <div class="fullpage__page fullpage__page--1 fullpage__page--isFirstSlide">
      <h2 class="fullpage__page-title"><span>1.</span> Supertitle</h2>
      <ul class="fullpage__list">
        <li class="fullpage__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, tempore? Lorem ipsum
          dolor, sit amet consectetur adipisicing elit. Quia voluptatum quos similique aliquid labore quod asperiores
          sequi quasi. Est ullam reprehenderit, quaerat, necessitatibus exercitationem consectetur, iusto facilis
          corrupti veniam doloremque natus a corporis. Odit eligendi voluptas doloribus, molestiae recusandae aut.</li>
        <li class="fullpage__item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam ipsa, aspernatur
          ipsum quam fuga dolorum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptatum vel eos,
          eius minima ratione deserunt omnis dolorum neque molestias veniam beatae possimus, perferendis nesciunt sunt
          nulla placeat porro quae? Aut, ea voluptatem.</li>
        <li class="fullpage__item"><img src="../../assets/img/m1.jpg" alt=""></li>
      </ul>
    </div>
    <div class="fullpage__page fullpage__page--2">
      <h2 class="fullpage__page-title"><span>2.</span> Supertitle</h2>
      <ul class="fullpage__list">
        <li class="fullpage__item">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Laboriosam ipsam, expedita aperiam dolor facere quos enim sint amet laudantium labore hic saepe quo illo
          provident rem assumenda minima nulla ratione vel quod ipsum.</li>
        <li class="fullpage__item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium dolorum
          inventore exercitationem repudiandae et possimus sequi quisquam maiores iure at! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Rerum explicabo nam atque distinctio deserunt fuga ipsa accusantium voluptas!
          Omnis accusamus necessitatibus natus nulla!</li>
        <li class="fullpage__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, tempore? Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Obcaecati hic illum beatae quidem. At tempora saepe architecto
          expedita culpa!</li>
      </ul>
    </div>
    <div class="fullpage__page fullpage__page--3">
      <h2 class="fullpage__page-title"><span>3.</span> Supertitle</h2>
      <ul class="fullpage__list">
        <li class="fullpage__item">Lorem, ipsum dolor. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio
          quaerat atque ab perspiciatis necessitatibus sed! Tempora dolorum architecto rerum sunt ut recusandae
          explicabo commodi, alias excepturi optio! Repellat, excepturi vero.</li>
        <li class="fullpage__item">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Consequuntur beatae, odit voluptate, necessitatibus optio dolores perspiciatis eveniet culpa
          ad explicabo blanditiis quidem dolore earum sequi distinctio delectus velit facere rerum sed mollitia!</li>
        <li class="fullpage__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quod mollitia
          excepturi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore voluptate nesciunt animi
          enim adipisci dicta iste nulla provident laborum eum ullam illo architecto reprehenderit porro nemo, delectus
          pariatur ea. Nesciunt vitae odio nostrum. Quod in ex porro quis vitae.</li>
      </ul>
    </div>
    <div class="fullpage__page fullpage__page--4">
      <h2 class="fullpage__page-title"><span>4.</span> Supertitle</h2>
      <ul class="fullpage__list">
        <li class="fullpage__item"><img src="../../assets/img/m2.jpg" alt=""></li>
        <li class="fullpage__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, tempore? Lorem ipsum
          dolor, sit amet consectetur adipisicing elit. Quia voluptatum quos similique aliquid labore quod asperiores
          sequi quasi. Est ullam reprehenderit, quaerat, necessitatibus exercitationem consectetur, iusto facilis
          corrupti veniam doloremque natus a corporis. Odit eligendi voluptas doloribus, molestiae recusandae aut.</li>
        <li class="fullpage__item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam ipsa, aspernatur
          ipsum quam fuga dolorum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptatum vel eos,
          eius minima ratione deserunt omnis dolorum neque molestias veniam beatae possimus, perferendis nesciunt sunt
          nulla placeat porro quae? Aut, ea voluptatem.</li>
      </ul>
    </div>
  </div>

  <script src="js/vendors.js"></script>
  <script src="js/bundle.js"></script>
</body>

</html>
